/* Button styles */
.URL a.gl button,
.URL a.cs button,
.menu a.m button,
.menu a.active button,
.dropbtn {
    background-color: #3d7adb;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Karla, sans-serif;
    font-size: 18px;
    height: 30px;
    padding: 5px 10px;
    width: auto;
}

.URL a.gl button:hover,
.URL a.cs button:hover,
.menu a.m button:hover,
.menu a.active button:hover,
.dropbtn:hover {
    background-color: #3f70bf;
    border-radius: 3px;
}

.menu a.active button,
.dropdown:hover .dropbtn {
    background-color: #0097ab;
}

.menu a.active button:hover,
.dropdown-content a.active {
    background-color: #096f7d;
}

/* General text styles */
.Hoofdtekst,
.Normaletekst,
.dropdown-content a {
    color: white;
    font-family: Kanit, sans-serif;
}

/* Image styles */
.Images img.Geest {
    height: 200px;
    width: 200px;
    position: relative;
    left: 250px;
    top: -150px;
}

/* Unselectable text */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Dropdown styles */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #66c0e3;
    border-radius: 5px;
    display: none;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #589db8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media query for screens with a maximum width of 600 pixels */
@media screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    .menu a.m button,
    .menu a.active button {
        font-size: 14px;
        padding: 3px 8px;
    }

    .Images img.Geest {
        height: 150px;
        width: 150px;
        left: 150px;
        top: -100px;
    }
}

